<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/home']"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/students']"
   
  >
    <mat-icon  matBadge="{{totalStudents}}" matBadgeColor="warn">person</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/studentform/0']"
  >
    <mat-icon>library_books</mat-icon></button
  ><button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/about']"
  >
    <mat-icon>info</mat-icon>
  </button>
  
</mat-toolbar>

<router-outlet></router-outlet>
